# Include everything the framework requires
# You will automatically get updates for all versions starting with "0.0.".
rlbot==0.0.*

# Used to allow python to send commands to java, e.g. start running the bot
py4j
